{% include 'sections/general.j2' %}
{% include 'sections/aaa.j2' %}
{% include 'sections/dns.j2' %}
{% include 'sections/ntp.j2' %}
{% include 'sections/interfaces.j2' %}
{% include 'sections/prefix_lists.j2' %}
{% include 'sections/bgp_v2.j2' %}